.Listbox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--listBox-bg);
  position: absolute;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--listBox-bg);
  min-width: 100%;

}

.option {
  min-width: 100%;
}

.item {
  padding: 10px;
  border-radius: 10px;
  min-width: 100%;
}


.active {
  background: var(--inverted-secondary-color);
}

.selected {

}

.disabled {
  opacity: 0.7;
}

.optionsTop {
  bottom: 100%;
}
