.app_dark_theme {
    // background-color: #b2a87b;
    --bg-color: #1b333dff;
    --inverted-bg-color: #ece8de;
    --primary-color: #b2a87bff;
    --secondary-color: #d7cfb3;
    --inverted-primary-color: #183636ff;
    --inverted-secondary-color: #204d4dff;

    // skeleton
    --skeleton-color: #215b5b;
    --skeleton-shadow: #0f2f2f;

    // code
    --code-bg: #164242;
}
