.app.dark {
  //background-color: #b2a87b;
  --bg-color: #1B333DFF;
  --inverted-bg-color: #ece8de;

  --primary-color: #B2A87BFF;
  --secondary-color: #d7cfb3;
  --inverted-primary-color: #183636FF;
  --inverted-secondary-color: #204D4DFF;
}