:root {
    // background-color: #b2a87b;
    --bg-color: #ece8de;
    --inverted-bg-color: #1b333dff;
    --primary-color: #183636ff;
    --secondary-color: #204d4dff;
    --inverted-primary-color: #b2a87bff;
    --inverted-secondary-color: #d7cfb3;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #b2a87bff;

    // code
    --code-bg: #eadfb1;

    // card
    --card-bg: #dcd8ce;
}
