.Dropdown {
  position: relative;
}

.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
}

.menu {
  background: var(--listBox-bg);
  position: absolute;
  z-index: 100000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.item {
  padding: 0 25px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-radius: 8px;
  cursor: pointer;
}


.active {
  opacity: 0.8;
  background: var(--inverted-secondary-color);
  //transition: all 0.1s;
}

.disabled {
  opacity: 0.7;
  cursor: auto;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}